/* Reset rapide */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.contact-btn {
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.highlight {
    color: #3366ff; /* bleu */
}

.hero-text p {
    margin: 20px 0;
    font-size: 1.1rem;
    line-height: 1.5;
}

.buttons button {
    padding: 10px 25px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-black {
    background-color: #111;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

.hero-image img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

