/* ===== Base ===== */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* ===== Header ===== */
h1 {
    color: #2563eb; /* bleu principal */
    text-align: center;
    margin-top: 50px;
}

/* ===== Paragraphes ===== */
p {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

/* ===== Liens ===== */
a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
